* {
    padding: 0;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

img {
    width: 250px;
    height: 250px;
}
.sticker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.cards {
    gap: 4rem;
}
h3 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}